*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
.orng-t{
    color: #ff5400;
}
.orng-bg{
    background-color: #ff5400;
}
.bold{
    font-weight: 800;
    font-size: 2.0rem;
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 40px 20px 0;
}
a{
    text-decoration: none;
    color: black;
}
.flex-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description{
    color: #131318bd;
    padding-top: 20px;
    line-height: 25px;
}
.btn{
    background-color: #ff5400;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 28px;
}
.btn:active{
    background-color: #df4c03;
}

/* nav section */
.nav-section{
    justify-content: space-between;
}
.logo{
    gap: 10px;
    cursor: pointer;
}
.menu{
    font-weight: 700;
    list-style: none;
    gap: 20px;
}
.menu img{
    display: none;
}

/* banner section */
.banner{
    background: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
}
.shad{
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.007));
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.shad h1{
    font-size: 60px;
    color: white;
}
.shad p{
    width: 55%;
    color: rgba(255, 255, 255, 0.76);
}
.search-section{
    background-color: #ffffff79;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    gap: 15px;
}
.search-section input{
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.search-section .icon{
    background-image: url(Images/down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 15px;
    background-size: 18px;
}
.search-section .btn{
    height: 50px;
    width: 180px;
    justify-content: center;
    gap: 10px;
}
.search-section .btn svg{
    height: 70%;
    fill: white;
}


/* Popular section */
.popular{
    width: 100%;
    padding-block: 20px;
    justify-content: space-between;
}
.left{
    width: 50%;
}
.list {
    display: flex;
    gap: 15px;
    padding-left: 8px;
}
.dot{
    padding: 4px;
    background-color: #ff5400;
    margin-top: 8px;
}
.left .btn{
    margin-block: 20px;
}
.right{
    width: 48%;
}
.right img{
    width: 100%;
}


/* Your Destination section */
.destination{
    padding-block: 20px;
    text-align: center;
}
.destination p{
    width: 60%;
    padding-bottom: 30px;
}
.destination h2{
    color: white;
    cursor: pointer;
}
.images{
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.bg1{
    background: url(Images/Rectangle\ 1.png);
    width: 50%;
}
.bg2{
    background: url(Images/Rectangle\ 2.png);
    width: 50%;
}
.bg3{
    background: url(Images/Rectangle\ 3.png);
    width: 35%;
}
.bg4{
    background: url(Images/Rectangle\ 4\ \(2\).png);
    width: 40%;
}
.bg5{
    background: url(Images/Rectangle\ 5.png);
    width: 25%;
}
.bg6{
    background: url(Images/Rectangle\ 6.png);
    width: 45%;
}
.bg7{
    background: url(Images/Rectangle\ 7.png);
    width: 55%;
}

.img{
    background-position: center;
    background-size: cover;
    height: 290px;
    border-radius: 20px;
}


/* Why Choose Us section */
.chooseUs p{
    width: 60%;
    text-align: center;
}
.cards{
    gap: 20px;
    width: 100%;
    padding-block: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.div{
    padding: 30px;
    border-radius: 20px;
    width: 48%;
}
.div1{
    border: 1px solid #FBB56342;
}
.div2{
    border: 1px solid #29cdf642;
}
.div3{
    border: 1px solid #e9444442;
}
.div img{
    padding-bottom: 20px;
}
.div p{
    text-align: left;
    width: 100%;
}

/* Explore Bangladesh */
.explore{
    padding-block: 40px;
}
.explore .description{
    width: 60%;
    padding-bottom: 20px;
}
.cities{
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}
.cities .im1{
    background-image: url(Images/Coxs_Bazar.avif);
}
.cities .im2{
    background-image: url(Images/Sylhet.avif);
}
.cities .im3{
    background-image: url(Images/Chittagong.avif);
}
.cities .im4{
    background-image: url(Images/Kuakata.avif);
}
.cities .im{
    width: 25%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}
.cities .im:hover{
    transform: scale(1.1);
}
.cities .im div{
    position: absolute;
    bottom: 15px;
    left: 15px;
}


/* Optional section */
.op{
    background: linear-gradient(to right,rgba(157, 222, 248, 0.979), #ff925cbd);
    margin-block: 50px;
}
.op .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
    gap: 20px;
}
.container .le{
    width: 50%;
}


/* Newsletter section */
.newsletter{
    width: 100%;
    gap: 20px;

}
.l{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    border: 1px solid #ff5400;
    border-radius: 15px;
}
.l hr{
    opacity: 0.2;
}
.l .description{
    padding-top: 0;
}
.l input{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e2e1e167;
    outline: none;
    background-color: #e2e1e15e;
}
.l input:focus{
    border: 1px solid #ff5400;
}
.r{
    width: 60%;
    height: 380px;
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.off{
    color: white;
    background-color: #ff5400;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    right: 15px;
    transform: rotate(-20deg);
}
.off .light{
    font-weight: 400;
    font-size: 1.25rem;
    padding-bottom: 5px;
}


/* Footer section */
footer{
    background-color: #d4d4d45d;
    margin-top: 80px;
}
footer .container{
    padding-block: 80px;
    gap: 25px;
    width: 100%;
}
footer .container .description{
    padding: 0;
    width: 75%;
    text-align: center;
}
.container .icons{
    gap: 20px;
}
.icons img{
    opacity: 0.6;
}
.icons img:hover{
    opacity: 1;
    scale: 1.2;
}
footer .container hr{
    width: 80%;
    opacity: 0.4;
}


/* Responsible section */

/* Mobile section */

@media screen and (max-width: 600px) {
    .container{
        padding: 30px 20px 0 20px;
    }
    .logo img{
        width: 35px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .menu img{
        display: block;
        width: 25px;
    }
    .menu li{
        display: none;
    }
    .banner{
        height: 100%;
    }
    .shad{
        padding: 30px 0;
    }
    .shad h1{
        font-size: 30px;
    }
    .shad p{
        width: 80%;
    }
    .search-section{
        flex-direction: column;
        width: 85%;
    }
    .search-section input{
        width: 100%;
    }
    .search-section .btn{
        width: 100%;
    }
    .popular{
        flex-direction: column;
        padding: 0;
    }
    .left, .right{
        width: 100%;
    }
    .destination{
        padding-block: 0;
    }
    .destination h1{
        font-size: 1.5rem;
    }
    .destination p{
        width: 100%;
    }
    .images{
        flex-direction: column;
    }
    .img{
        width: 100%;
    }
    .chooseUs p{
        width: 100%;
    }
    .div{
        width: 100%;
    }
    .explore{
        padding: 0;
    }
    .explore .bold{
        font-size: 1.5rem;
    }
    .explore .description{
        width: 100%;
    }
    .cities{
        flex-wrap: wrap;
    }
    .cities .im{
        width: 100%;
    }
    .op .container{
        flex-direction: column;
        gap: 30px;
    }
    .container .le{
        width: 100%;
        text-align: center;
    }
    .container .le .bold{
        font-size: 1.5rem;
    }
    .newsletter{
        flex-direction: column;
    }
    .l{
        width: 100%;
    }
    .r{
        width: 100%;
    }
    .off{
        font-size: 1.25rem;
        width: 230px;
    }
    .off .light{
        font-size: 1rem;
    }
    footer .container{
        padding-block: 40px;
    }
}


/* tablet section */

@media screen and (min-width: 601px) and (max-width: 992px) {
    .container{
        padding: 40px 20px 0 20px;
    }
    .logo img{
        width: 35px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .menu {
        font-weight: 600;
        font-size: 0.9rem;
        gap: 15px;
    }
    .search-section{
        flex-wrap: wrap;
        width: 80%;
    }
    .search-section input{
        width: 48%;
    }
    .search-section .btn{
        width: 48%;
    }
    .popular{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        height: 500px;
    }
    .right img{
        height: 100%;
        border-radius: 20px;
    }
    .cities{
        flex-wrap: wrap;
    }
    .cities .im{
        width: 48%;
    }
    .newsletter{
        flex-direction: column;
    }
    .l{
        width: 100%;
        padding: 40px 90px;
    }
    .r{
        width: 100%;
    }
}