*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
.orng-t{
    color: #ff5400;
}
.orng-bg{
    background-color: #ff5400;
}
.bold{
    font-weight: 800;
    font-size: 2.0rem;
}
.container{
    margin: auto;
    /* min-width: 992px; */
    max-width: 1200px;
    padding: 40px 20px 0;
}
a{
    text-decoration: none;
    color: black;
}
.flex-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description{
    color: #131318bd;
    padding-top: 20px;
    line-height: 25px;
}
.btn{
    background-color: #ff5400;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 28px;
}
.btn:active{
    background-color: #df4c03;
}

/* nav section */
.nav-section{
    justify-content: space-between;
}
.logo{
    gap: 10px;
    cursor: pointer;
}
.menu{
    font-weight: 700;
    list-style: none;
    gap: 20px;
}
.menu img{
    display: none;
}

/* banner section */
.banner{
    background: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
}
.shad{
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.007));
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.shad h1{
    font-size: 60px;
    color: white;
}
.shad p{
    width: 55%;
    color: rgba(255, 255, 255, 0.76);
}
.search-section{
    background-color: #ffffff79;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    gap: 15px;
}
.search-section input{
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.search-section .icon{
    background-image: url(Images/down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 15px;
    background-size: 18px;
}
.search-section .btn{
    height: 50px;
    width: 180px;
    justify-content: center;
    gap: 10px;
}
.search-section .btn svg{
    height: 40%;
    fill: white;

}


/* Popular section */
.popular{
    width: 100%;
    padding-block: 20px;
    justify-content: space-between;
}
.left{
    width: 50%;
}
.list {
    display: flex;
    gap: 15px;
    padding-left: 8px;
}
.dot{
    padding: 4px;
    background-color: #ff5400;
    margin-top: 8px;
}
.left .btn{
    margin-block: 20px;
}
.right{
    width: 48%;
}
.right img{
    width: 100%;
}



.footer{
    height: 50vh;
    border: 1px solid tomato;
}
/* Responsibe section */

/* Mobile section */

@media screen and (max-width: 600px) {
    .container{
        padding: 30px 20px 0 20px;
    }
    .logo img{
        width: 35px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .menu img{
        display: block;
        width: 25px;
    }
    .menu li{
        display: none;
    }
    .banner{
        height: 100%;
    }
    .shad{
        padding: 30px 0;
    }
    .shad h1{
        font-size: 30px;
    }
    .shad p{
        width: 80%;
    }
    .search-section{
        flex-direction: column;
        width: 85%;
    }
    .search-section input{
        width: 100%;
    }
    .search-section .btn{
        width: 100%;
    }
    .popular{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
    }
}


/* tablet section */

@media screen and (min-width: 601px) and (max-width: 992px) {
    .container{
        padding: 40px 20px 0 20px;
    }
    .logo img{
        width: 35px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .menu {
        font-weight: 600;
        font-size: 0.9rem;
        gap: 15px;
    }
    .search-section{
        flex-wrap: wrap;
        width: 80%;
    }
    .search-section input{
        width: 48%;
    }
    .search-section .btn{
        width: 48%;
    }
    .popular{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        height: 500px;
    }
    .right img{
        height: 100%;
        border-radius: 20px;
    }
}